doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title
      | Oyster | 
      = title
    script(src="/static/js/jquery.min.js")
    script(src="/static/js/bootstrap.min.js")
    link(href="/static/css/bootstrap.min.css", rel="stylesheet")
    link(href="/static/css/admin.css", rel="stylesheet")
    style.
      body { padding-top: 0 }

  body
    .container
      block content
