doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title
      = title
      |  | Oyster
    <!--[if lt IE 10]>
    <script src="/static/js/es5-shim.min.js"></script>
    <script src="/static/js/html5shiv.min.js"></script>
    <![endif]-->
    script(src="/static/js/jquery.min.js")
    script(src="/static/js/bootstrap.min.js")
    link(href="/static/css/bootstrap.min.css", rel="stylesheet")
    link(href="/static/css/admin.css", rel="stylesheet")
    style.
      body { padding-top: 0 }
    block head

  body
    block nav
    .container
      block content
    footer.powered-by-oyster
      = __("Powered by")
      a(href='https://bbqsrc.github.io/oyster')  Oyster
      | . 
      = __("Made in Sydney with")
      | 
      span(style="color: #d99", class="glyphicon glyphicon-heart")
