<div style='text-align: center'>
  <div>
    <a href="https://pirateparty.org.au">
      <img src="{{asset 'css/logo.png'}}" alt='PPAU logo' style='padding: 2em 0; width: 100%; max-width: 380px'>
    </a>
  </div>
  <h1 style='margin: 0; font-weight: bold'>{{title}}</h1>
</div>
