<div>
  <div class='aside privacy alert alert-success pull-right'>
    This form is hosted on a server in <a rel='nofollow' href="http://digitalocean.com">the Netherlands</a>, and is being accessed over a secure SSL link.
  </div>
  <h1>
    <a href="http://pirateparty.org.au" class="logo">
      <div>
        <span class="logo-bold-blue">pirate</span>party
      </div>
      <div class="logo-australia">{{title}}</div>
    </a>
  </h1>
</div>
