<section class='oyster-section'>
  <h2 class='oyster-section-title'>
    {{title}}
  </h2>

  {{#if info}}
  <div class='oyster-section-info alert alert-info'>
    {{markdown info}}
  </div>
  {{/if}}

  <div class='oyster-fields'>
    {{#each fields}}
      {{> (lookup .. 'type') section=.. }}
    {{/each}}
  </div>
</section>
