<label class='oyster-method-score'>
  <input name='{{id}}' class='form-control oyster-candidate-input' type='number' step='1' min='{{minScore}}' max='{{maxScore}}'>
  <span class='oyster-candidate-name'>
    {{name}}
  </span>
</label>
