@import url(https://fonts.googleapis.com/css?family=Noto+Sans:300,400,700);

@font-face {
    font-family: 'GehenSans';
    src: url('../fonts/gehensans-regular-webfont.eot');
    src: url('../fonts/gehensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gehensans-regular-webfont.woff') format('woff'),
         url('../fonts/gehensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/gehensans-regular-webfont.svg#GehenSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GehenSans';
    src: url('../fonts/gehensans-bold-webfont.eot');
    src: url('../fonts/gehensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gehensans-bold-webfont.woff') format('woff'),
         url('../fonts/gehensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/gehensans-bold-webfont.svg#GehenSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;

}

html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
  padding-bottom: 2.5em;
}

body, button, h1, h2, h3, h4, h5, h6, fieldset {
  font-family: 'Noto Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, .btn {
  font-weight: 300;
}

.btn {
  font-size: 110%;
}

h2 {
  background-color: rgb(230, 132, 38);/* #ff6600; */
  color: #eee;
  padding: 10px 15px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 1px 5px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 1px 5px rgba(0,0,0,0.4);
  box-shadow: 0px 1px 5px rgba(0,0,0,0.4);
  -webkit-text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
  -moz-text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}

h3 {
  font-weight: 600;
  padding-top: 0.3em;
  padding-bottom: 0.2em;
  margin-bottom: 0.8em;
}

.alert h4 {
  font-weight: 600;
}

caption {
  text-align: left;
}

.table thead>tr>th {
  border-bottom: 0 !important;
}

.field-caption {
  padding-top: 10px;
}

legend {
  margin-bottom: 4px;
  border-bottom: 0;
  font-weight: bold;
  font-size: 14px;
}

.privacy {
  font-size: 12px;
  width: 220px;
  padding: 6px;
}

@media (max-width: 600px) {
  .privacy {
    float: none !important;
    width: 100%;
    margin-top: 10px;
  }
  .container {
    padding: 0 12px;
  }
}

.table {
  width: auto;
}

.radio {
  margin-left: 2px;
}

.table-grid tbody td {
  text-align: center;
  width: 120px;
}

.table-highlight tbody td:hover {
  background-color: rgba(0,0,0,0.1) !important;
}

.table-highlight tbody td,
input[type='radio'] {
  cursor: pointer;
}

.control-label {
  /*font-weight: normal;*/
  word-wrap: break-word;
}

.container {
  padding: 0 2em;
  background-color: #fefefe;
  max-width: 750px;
  margin: 0 auto;
}

body {
  background-color: rgb(38, 38, 38);
}

.logo,
.logo:hover {
  display: block;
  font-size: 36px;
  padding-left: 73px;
  color: #333;
  text-decoration: none !important;
  height: 72px;
  line-height: 36px;
  font-family: "GehenSans";
  background: url(logo.png) no-repeat;
  font-weight: normal;
  margin-right: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.logo-bold-blue {
  font-weight: bold;
  color: #ff6600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.logo-australia {
  font-size: .65em;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.oyster-election,
.oyster-motion,
.oyster-motion .panel {
  margin-top: 2em;
}

.oyster-election,
.oyster-motion,
.oyster-method-approval-state {
  border: 1px solid #f0f0f0;
  padding: 0em 1.5em;
}

.oyster-method-approval {
  display: block;
  margin: 0 0 2px 0;
}

.oyster-method-approval-state {
  padding: 0.5em;
}

.oyster-election {
  padding: 0em 1.5em 1em;
}

.oyster-motion ul {
  padding-left: 1.3em;
}

.oyster-motion,
.oyster-motion .panel,
.oyster-method-approval-state {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

.oyster-motion .panel-heading {
  padding: 0.4em 0.8em;
}

.oyster-election blockquote,
.oyster-motion blockquote {
  background-color: #f4f4f4;
  background-color: rgba(100, 100, 100, 0.1);
  margin-left: 2.4em;
  padding: 0.5em;
  margin-bottom: 0.5em;
  border: 1px solid #f0f0f0;
  font-size: inherit;
}

.oyster-motion ol {
  list-style-type: decimal;
}

.oyster-motion ol ol {
  list-style-type: lower-latin;
}

.oyster-motion ol ol ol {
  list-style-type: lower-roman;
}

.oyster-motion li {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

/* TODO: investigate why this was added
.oyster-motion blockquote ul {
  list-style: none;
  padding-left: 0;
}
*/

.oyster-election ul {
  list-style: none;
  padding-left: 0;
}

.oyster-candidate label {
  cursor: pointer;
}

.oyster-candidate-name {
  display: inline-block;
  margin-left: 4px;
  font-weight: bold;
}

input.oyster-candidate-input {
  width: 3.5em;
  padding: 6px;
  display: inline-block;
  text-align: center;
  border-radius: 0;
  height: 2.8em;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
}

.oyster-motion-success {
  background-color: #f7fff7;
  border-color: #dfefdf;
}

.oyster-motion-success .oyster-motion-selected {
  background-color: #aadaaa;
  border-color: #8aba8a;
}

.oyster-motion-danger {
  background-color: #fff7f7;
  border-color: #efdfdf;
}

.oyster-motion-danger .oyster-motion-selected {
  background-color: #e48481;
  border-color: #c46461;
}

.oyster-motion-warning {
  background-color: #fffff7;
  border-color: #efefdf;
}

.oyster-motion-warning .oyster-motion-selected {
  background-color: #f8e9ac;
  border-color: #d8c98c;
}

.oyster-motion-selected .btn:hover {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.oyster-motion-selected .btn {
  opacity: 0.6;
  filter: alpha(opacity=50);
}
.oyster-motion-selected .active {
  opacity: 1;
  filter: alpha(opacity=100);
}

.alert h4:nth-of-type(n+2) {
  margin-top: 1em;
}

.alert.alert-info {
  background-color: #f6f6f9;
  color: black;
  border-radius: 0;
  border: 0;
  border-left: 5px solid rgb(253, 172, 45);
}

.powered-by-oyster {
  background-color: #eee;
  color: #888;
  font-size: 10px;
  font-family: "Open Sans", Arial, sans-serif;
  text-align: center;
  -webkit-box-shadow: 0px 1px 5px rgba(0,0,0,0.8);
  -moz-box-shadow: 0px 1px 5px rgba(0,0,0,0.8);
  box-shadow: 0px 1px 5px rgba(0,0,0,0.8);
  padding: 1em;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 1em;
}

.oyster-main {
  display: none;
  transition: all 1s;
}

.oyster-main .container {
  padding-bottom: 2em;
}

.oyster-main.oyster-loaded {
  display: block;
}

.oyster-candidate-input[type=checkbox] {
  height: auto;
  width: auto;
  margin-right: 0.5em;
}

blockquote.oyster-candidate-info {
  border-top: 2px solid #FF6600;
  margin-top: 6px;
  padding-top: 6px;
  margin-left: 0;
}
