<div style='text-align: center'>
  <div>
    <a href="https://piratskastranka.si">
      <img src="{{asset 'css/logo.png'}}" alt='PPSI logo' style='max-height: 220px; max-width: 100%'>
    </a>
  </div>
  <h1 style='margin: 0; font-weight: bold'>{{title}}</h1>
</div>
