{
    "plugins": [
      "react"
    ],
    "ecmaFeatures": {
      "jsx": true
    },
    "env": {
      "browser": true
    },
    "rules": {
      "new-cap": 0
    },
    "extends": "../.eslintrc"
}
