//-
  Oyster, a free voting system.
  Copyright © 2015  Brendan Molloy <brendan@bbqsrc.net>

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
extend layout
block head
  script(src='/static/js/toml.min.js')
  script(src='/static/js/mongoose.min.js')
  script(src='/static/js/moment.min.js')
  script(src='/static/js/ace/ace.js')
  script(src='/static/js/react.min.js')
  script(src='/static/js/components.min.js')
block content
  .page-header
    .pull-right
      .btn-group
        button.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown')
          span.caret
        ul.dropdown-menu
          li
            a(href='/admin/poll/' + poll.slug + '/test')
              = __("Test Ballot")
          li  
            a(href="/admin/poll/" + poll.slug + '/ballots')
              = __("Ballots")
          li  
            a(href='/admin/poll/' + poll.slug + '/results')
              = __("Results")
          li.divider(role="separator")
          li
            a(href='#')= __("Delete poll")
    h1
      = poll.title 
      small  (#{poll.slug})

    div.app-content
    script.
      Oyster.insertComponent(Oyster.AdminPollPage, { 
        poll: !{JSON.stringify(poll)}
      }, '.app-content');
      
