extend layout
block head
  script(src='/static/js/vendor.min.js')
  script(src='/static/js/components.min.js')
block content
  .page-header
    .pull-right
      .btn-group
        button.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown')
          span.caret
        ul.dropdown-menu
          li
            a(href='/admin/poll/' + poll.slug + '/test')
              = __("Test Ballot")
          li  
            a(href="/admin/poll/" + poll.slug + '/ballots')
              = __("Ballots")
          li  
            a(href='/admin/poll/' + poll.slug + '/results')
              = __("Results")
          li.divider(role="separator")
          li
            a(href='#')= __("Delete poll")
    h1
      = poll.title 
      small  (#{poll.slug})

    div.app-content
    script.
      Oyster.insertComponent(Oyster.AdminPollPage, { 
        poll: !{JSON.stringify(poll)}
      }, '.app-content');
      
