//-
  Oyster, a free voting system.
  Copyright © 2015  Brendan Molloy <brendan@bbqsrc.net>

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title
      = title
      |  | Oyster
    <!--[if lt IE 10]>
    <script src="/static/js/es5-shim.min.js"></script>
    <script src="/static/js/html5shiv.min.js"></script>
    <![endif]-->
    script(src="/static/js/jquery.min.js")
    script(src="/static/js/bootstrap.min.js")
    link(href="/static/css/bootstrap.min.css", rel="stylesheet")
    link(href="/static/css/admin.css", rel="stylesheet")
    style.
      body { padding-top: 0 }
    block head

  body
    block nav
    .container
      block content
    footer.powered-by-oyster
      = __("Powered by")
      a(href='https://bbqsrc.github.io/oyster')  Oyster
      | . 
      = __("Made in Sydney with")
      | 
      span(style="color: #d99", class="glyphicon glyphicon-heart")
