<div class='oyster-election'>
  <h3 class='oyster-election-title'>
    {{id}}
  </h3>

  <ul class='oyster-election-list'>
    {{#shuffle candidates}}
      <li class='oyster-candidate'>
        <label>
          {{candidate ../section.method ../id class="form-control"}}
          <span class='oyster-candidate-name'>
            {{this}}
          </span>
        </label>
      </li>
    {{/shuffle}}
  </ul>
</div>
